<div class="card" th:fragment="topic" th:each="topic: ${topics}" style="margin-bottom:5px;" th:attr="onclick='moveTopic(\'' + ${topic.id} + '\');'">
	<div class="card-body">
		<h5 class="card-title" th:text="${topic.name}"></h5>
		<p class="card-text">
		<div>
			<span>サイト：</span>
			<span th:utext="${topic.url}"></span>
		</div>
		<div>
			<span>タイムスタンプ：</span>
			<span th:utext="${topic.timestamp}"></span>
		</div>
		<div>
			<span>コメント件数：</span>
			<span th:utext="${topic.listsize}"></span>
		</div>
		<div>
			<span>プルーフ：</span>
			<span th:utext="${topic.proof}"></span>
		</div>
		<div>
			<span>ハッシュ値：</span>
			<span th:utext="${topic.hash}"></span>
		</div>
		<div>
			<span>プレハッシュ値：</span>
			<span th:utext="${topic.prevhash}"></span>
		</div>
		</p>
	</div>
</div>
<div class="card" th:fragment="archive" th:each="archive: ${archives}" style="margin-bottom:5px;" th:attr="onclick='moveArchive(\'' + ${archive.id} + '\');'">
	<div class="card-body">
		<h5 class="card-title" th:text="${archive.name}"></h5>
		<p class="card-text">
		<div>
			<span>サイト：</span>
			<span th:utext="${archive.url}"></span>
		</div>
		<div>
			<span>タイムスタンプ：</span>
			<span th:utext="${archive.timestamp}"></span>
		</div>
		<div>
			<span>コメント件数：</span>
			<span th:utext="${archive.listsize}"></span>
		</div>
		<div>
			<span>プルーフ：</span>
			<span th:utext="${archive.proof}"></span>
		</div>
		<div>
			<span>ハッシュ値：</span>
			<span th:utext="${archive.hash}"></span>
		</div>
		<div>
			<span>プレハッシュ値：</span>
			<span th:utext="${archive.prevhash}"></span>
		</div>
		</p>
	</div>
</div>