<html layout:decorator="v1/common/layout" th:with="authentication=false" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="ログイン"></title>
</head>

<body>
<div class="container" layout:fragment="layout-content">
	<div th:if="${error}" class="alert alert-danger fixed-top" role="alert">
		<strong>ログインに失敗しました: </strong>ユーザが存在しないか、パスワードが間違っています。
	</div>

	<h1 style="padding-top:30px;">ログイン</h1>
	<p>ユーザを選択して、ログインボタンを押してください。</p>
	<div class="jumbotron" style="padding:32px;">
		<form action="" th:action="@{/login}" method="post" name="login">
			<div class="form-group">
				<div>
					<label for="uid"><strong>ユーザ</strong></label>
				</div>
				<label class="col-sm-offset-2 col-sm-12 login-radio-btn-area" th:each="i : ${#numbers.sequence(1, 9)}">
					<div class="radio">
						<input type="radio" name="uid" th:value="'テストユーザ' + ${i}" th:text="' テストユーザ' + ${i}" th:checked="${i == 1}"></input>
					</div>
				</label>
			</div>
			<input type="hidden" name="password" id="password" th:value="password"/>
			<input type="hidden" name="redirectUri" id="redirectUri" th:value="${redirectUri}"/>
			<button class="btn btn-primary" type="submit">ログイン</button>
		</form>
	</div>
</div>
</body>
</html>