<html layout:decorator="v1/common/layout" th:with="authentication=false" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="ログイン"></title>
</head>

<body>
<div class="container" layout:fragment="layout-content">
	<div th:if="${error}" class="alert alert-danger fixed-top" role="alert">
		<strong>ログインに失敗しました: </strong>ユーザが存在しないか、パスワードが間違っています。
	</div>

	<h1 style="padding-top:30px;">ログイン</h1>
	<p>テストユーザは、ユーザIDが "testuser1" から "testuser9" までの9ユーザ、パスワードはすべて "password" 共通です。</p>
	<div class="jumbotron" style="padding:32px;">
		<form action="" th:action="@{/login}" method="post" name="login">
			<div class="form-group">
				<label for="uid"><strong>ユーザID</strong></label>
				<input type="text" class="form-control" placeholder="ユーザID" name="uid" id="uid" required="true"/>
			</div>
			<div class="form-group">
				<label for="password"><strong>パスワード</strong></label>
				<input type="password" class="form-control" placeholder="パスワード" name="password" id="password" required="true"/>
			</div>
			<input type="hidden" name="redirectUri" id="redirectUri" th:value="${redirectUri}"/>
			<button class="btn btn-primary" type="submit">ログイン</button>
		</form>
	</div>
</div>
</body>
</html>