<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">

    <!-- AppenterやLoggerで使用するプロパティを定義する -->
    <Properties>
        <!-- Property name="loglayout">%d{yyyy-MM-dd HH:mm:ss.SSS} | [%-21t] | %-5level | %msg%n</Property -->
        <Property name="loglayout">%d{yyyy-MM-dd HH:mm:ss.SSS} | [%t] | %-5level | %c{36} | %msg%n</Property>
    </Properties>

    <!-- ログの出力先と出力フォーマットを設定する -->
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="${loglayout}"/>
        </Console>
        <RollingFile name="rollingFile" fileName="${sys:mcfsrv.log.home}/app.log" filePattern="${sys:mcfsrv.log.home}/app_%d{yyyy-MM-dd}.log.zip">
            <PatternLayout pattern="${loglayout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <!-- パッケージごとにAppenderとログレベルを組み合わせる -->
    <Loggers>
        <Logger name="mcfsrv" level="info" additivity="false">
            <AppenderRef ref="rollingFile"/>
        </Logger>
        <Logger name="mcflib" level="info" additivity="false">
            <AppenderRef ref="rollingFile"/>
        </Logger>
    </Loggers>
</Configuration>
