<!DOCTYPE html>

<html class="no-js" lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="x-ua-compatible" content="ie=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Block Topics</title>
	<link th:href="@{'/resources/v1/css/common.css'}" rel="stylesheet"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"/>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous" defer="true"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" defer="true"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer="true"></script>
	<script>
		function getCookie( name ) {
			var result = null;
			var cookieName = name + '=';
			var allcookies = document.cookie;
			var position = allcookies.indexOf( cookieName );
			if( position != -1 ) {
				var startIndex = position + cookieName.length;
				var endIndex = allcookies.indexOf( ';', startIndex );
				if( endIndex == -1 ) {
					endIndex = allcookies.length;
				}
				result = decodeURIComponent(allcookies.substring( startIndex, endIndex ));
			}
			return result;
		}
	</script>
</head>

<body class="clearfix">
<div id="success-alert" class="alert alert-success fixed-top fade hide" role="alert"></div>
<div id="error-alert" class="alert alert-danger fixed-top fade hide" role="alert"></div>
<!-- Start header -->
<header th:replace="v1/common/header :: header" th:with="authentication=${authentication}"></header>
<!-- Start body -->
<div class="container">
	<th:block layout:fragment="layout-content"></th:block>
</div>
<div id="progress-overlay" class="reveal-overlay" style="display:none;">
	<div id="loader">
		<div class="loader-spin"></div>
		<div class="loader-message">Loading...</div>
	</div>
</div>

</body>

</html>